.whole {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 50%;
  min-width: fit-content;
  text-align: center;
  border: 2px solid rgb(14, 243, 247);
  padding: 20px;
  margin: 30px;
  border-radius: 5%;
  box-shadow: 0 10px 10px #05322d;
}
.h1_1 {
  color: #000;
  font-size: 10rem;
  margin: 0;
  margin-bottom: 20px;
}
.plus {
  color: #13766b;
}
.minus {
  color: #e63946;
}

.h2_1 {
  font-size: 2rem;
  margin: 0;
  color: #556581;
}
button {
  background: transparent;
  border: 2px solid transparent;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.05s ease-in-out;
}
.minus {
  background-color: #e63946;
  color: white;
  box-shadow: 0 10px 10px black;
  border: 2px solid rgb(220, 7, 7);
}

.plus {
  background-color: #2a9d8f;
  color: hsl(0, 37%, 96%);
  box-shadow: 0 10px 10px #05322d;
  border: 2px solid rgb(73, 142, 148);
}

button :hover {
  transform: translateY(-2px);
}
button:active {
  transform: translateY(2px);
  box-shadow: none;
}
